.page {
  /* background: #dedddc */

}

.home {
  margin-left: 230px;
  margin-top: 78px;
}

@media (prefers-color-scheme: dark) {}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {}

  .home {
    margin-left: 0px;
    margin-top: 28px;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}